<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Blockchain Wallet</title>
	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/inistyle.css">

</head>
<body>
<header>
	<nav class="menu">
		<div class="container-menu">
			<div class="logo">
				<div class="logo-nombr">
					<img src="/static/vendor/img/logo.jpg" alt="">
				    <a href="#">Wallet Bitcoin</a>
				</div>
				<div class="icon-menu">
					<a href="#" id="btn-menu" class="btn-menu"> <span class="fa fa-bars"></span></a>
					
				</div>
				
			</div>
			
		</div>
		
		<div class="menu-link">
			<ul>
				<li><a href="new_wallet">Wallet</a></li>
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Transacciones</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</div>
	</nav>
</header>


<section class="banner">
	<div class="cont-banner"></div>
	<div class="cont-bdetails">
		<div class="bdetails">
			<h1>Generar llave pública y privada</h1>
			<input type="button" class="button forma" value="Generar Wallet">
		</div>
	</div>
	<div class="row">
	<label class="lab-col">Llave pública</label>
	<textarea id="public_key" rows="5" class="form-control" readonly></textarea>
    </div>
    <div class="row">
    <label class="lab-col">Llave privada</label>
    <textarea id="private_key" rows="5" class="form-control" readonly></textarea>
    </div>
</section>

<script type="text/javascript" src="/static/vendor/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/vendor/jquery/menu.js"></script>

 <script>

      $(function(){
        $('input').click(function(){

          $.ajax({
            url: '/wallet/nuevo',
            type: 'GET',
            success: function(response){
              document.getElementById("private_key").innerHTML = response['private_key'];
              document.getElementById("public_key").innerHTML = response['public_key'];
              document.getElementById("warning").style.display = "block";
            },
            error: function(error){
              console.log(error);
            }
          });
        });
      })


    </script>
</body>
</html>